.collapse{
    justify-content: center;
}
}   
.carousel-caption{
    background-color:rgba(252, 0, 0, 0.5) ;
}
body{
    font-family: Comfortaa, sans-serif;
}
.r{
    background: #ffc548 ;
}
.s{
background: rgb(158, 235, 158);
}
.RP{
background: rgb(165, 77, 62);
}
.Sh{

}
.c{
    background: rgb(117, 117, 117);
}